#nav_5454 {margin:0;padding:0;list-style:none}
#nav_5454 li{float:left;border-right:1px solid #BA3A35;border-left:1px solid #E54741}
#nav_5454 li a{display:block;padding:10px 15px;background:#E6433C;color:#fff}
#nav_5454 li a:hover{background:#BA3A35}